<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="cz,en">
    <meta name="Description" content="Szidon & Sidon web portfolio & blog">
    <meta name="keywords"
        content="javascript, js, html, web, programování, programovat, aplikace, tahák, stránky, framwork, css, es6, html5, css3" />
    <meta name="google-site-verification" content="p9ILXzb9Jv__7rKp_M_ezaFU5eW975VGJAb7c3X0T8U" />
    <meta name="robots" content="index,follow, archive">
    <link id="favicon" type="image/png" rel="shortcut icon" href="images/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>
        <%= title %>
    </title>
</head>

<body for="html-export">
    <div id="container">
        <!-- Navbar-top -->
        <header>
            <div id="navbar-top">
                <a href="/"><img src="images/logo.png" class="logo" alt="Szidon.com"></a>
                <h1 id="hlavicka">Szidon.com <% title %>
                </h1>
            </div>
        </header>
        <main id="markdown-preview" class="mume markdown-preview">
            <!-- images will be loaded here with figure and figcaption -->
        </main>
        <footer>
            <p>&copy; 2020 <a href="https://szidon.com">Szidon.com</a></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="/js/highlight.js"></script>
    <script>
        const URL =
            "tahak";
        document.addEventListener("DOMContentLoaded", () => {
            //set up the IntersectionObserver to load more images if the footer is visible.
            //URL - https://gist.githubusercontent.com/prof3ssorSt3v3/1944e7ba7ffb62fe771c51764f7977a4/raw/c58a342ab149fbbb9bb19c94e278d64702833270/infinite.json
            let options = {
                root: null,
                rootMargins: "0px",
                threshold: 0.5
            };
            const observer = new IntersectionObserver(handleIntersect, options);
            observer.observe(document.querySelector("footer"));
            //an initial load of some data
            //getData();
        });
        function handleIntersect(entries) {
            if (pocitadlo === 4) { return; }

            if (entries[0].isIntersecting) {
                console.warn("something is intersecting with the viewport");
                getData();
            }
        }
        pocitadlo = 0;
        function getData() {
            pocitadlo++;
            let main = document.querySelector("main");
            console.log("fetch some JSON data");
            fetch(URL + '/' + pocitadlo)
                .then(response => response.json())
                .then(data => {
                    // data.items[].img, data.items[].name

                    let fig = document.createElement("figure");
                    let nadpis = document.createElement("h2");
                    let fc = document.createElement("figcaption");
                    let img = document.createElement("img");
                    let article = document.createElement("article");
                    img.src = data.obrazek.formats.medium.url;
                    img.alt = data.obrazek.hash;
                    fc.textContent = data.Nadpis;
                    nadpis.textContent = data.Nadpis;
                    obsah = marked(data.obsah);
                    nadpis.id = 'obsah' + '-' + pocitadlo;
                    article.innerHTML = obsah;
                    fig.appendChild(img);
                    fig.appendChild(fc);
                    main.appendChild(nadpis);
                    main.appendChild(fig);
                    main.appendChild(article);
                    hljs.initHighlighting.called = false;
                    hljs.initHighlighting();

                });
        }
    </script>
</body>

</html>