<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="cz,en">
    <meta name="Description" content="Szidon & Sidon web portfolio & blog">
    <meta name="keywords"
        content="javascript, js, html, web, programování, programovat, aplikace, tahák, stránky, framwork, css, es6, html5, css3" />
    <meta name="google-site-verification" content="p9ILXzb9Jv__7rKp_M_ezaFU5eW975VGJAb7c3X0T8U" />
    <meta name="robots" content="index,follow, archive">
    <link id="favicon" type="image/png" rel="shortcut icon" href="images/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>
        <%= title %>
    </title>
</head>

<body for="html-export">
    <div id="container">
        <!-- Navbar-top -->
        <header>
            <div id="navbar-top">
                <a href="/"><img src="images/logo.png" class="logo" alt="Szidon.com"></a>
                <h1 id="hlavicka">Szidon.com
                </h1>
                <figure id="upozorneni">
                    <blockquote>
                        <p><b>X</b> Pozor, jedná se o Lazy-load stránku, další obsah se vám načte teprve na konci
                            stránky!
                        </p>
                    </blockquote>
                </figure>
            </div>
        </header>
        <main id="markdown-preview" class="mume markdown-preview">
            <h1 id="title">
                <%= title %>
            </h1>
            <div id="uvod"></div>
            <!-- zde se načte obsah -->
        </main>
        <footer>
            <p>&copy; 2020 <a href="https://szidon.com">Szidon.com</a></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="/js/highlight.js"></script>
    <script>

        ppocitadlo = null;

        function returnCount() {

            //důležité pro fetch po částech, ještě přidělat count fetch
            //fetchuje počet článků a zapíše do ppocitadlo

            const myURL = 'tahak/count';
            const myHeaders = new Headers();
            myHeaders.append('Content-Type', 'text/plain');
            const myRequest = new Request(myURL, {
                method: 'GET',
                headers: myHeaders,
            });

            fetch(myRequest)
                .then(response => response.json())
                .then(pdata => {
                    // Here's a list of repos!
                    ppocitadlo = Number(pdata);
                });
        }
        returnCount()

        const URL =
            "tahak";
        document.addEventListener("DOMContentLoaded", () => {
            //nastavení IntersectionObserver aby načetl více obsahu, vždy když je blízko footer.
            let options = {
                root: null,
                rootMargins: "0px",
                threshold: 0.5
            };
            const observer = new IntersectionObserver(handleIntersect, options);
            observer.observe(document.querySelector("footer"));
            //getData();
        });
        function handleIntersect(entries) {
            if (pocitadlo === ppocitadlo) { return; }

            if (entries[0].isIntersecting) {
                console.warn("something is intersecting with the viewport");
                getData();
            }
        }

        pocitadlo = 0;
        function getData() {
            pocitadlo++;
            // vytvoří z fetche obsah do main
            let main = document.querySelector("main");
            console.log("fetch some JSON data");
            fetch(URL + '/' + pocitadlo)
                .then(response => response.json())
                .then(data => {
                    let uvod = document.getElementById('uvod');
                    let fig = document.createElement("figure");
                    let nadpis = document.createElement("h2");
                    let fc = document.createElement("figcaption");
                    let img = document.createElement("img");
                    let article = document.createElement("article");
                    if (pocitadlo === 1) { uvod.innerText = data.Popis; }
                    img.src = data.obrazek.formats.medium.url;
                    img.alt = data.obrazek.hash;
                    fc.textContent = data.Nadpis;
                    nadpis.textContent = data.Nadpis;
                    obsah = marked(data.obsah);
                    nadpis.id = 'obsah' + '-' + pocitadlo;
                    article.innerHTML = obsah;
                    fig.appendChild(img);
                    fig.appendChild(fc);
                    main.appendChild(nadpis);
                    main.appendChild(fig);
                    main.appendChild(article);
                    hljs.initHighlighting.called = false;
                    hljs.initHighlighting();

                });
        }
        //odstraňuje po kliknutí upozornení
        let upoz = document.querySelector('#upozorneni');
        upoz.addEventListener('click', event => {
            upoz.outerHTML = null;
        })
    </script>
</body>

</html>